[submodule "testdata/case/src/github.com/sgtest/cgo_sample"]
	path = testdata/case/src/github.com/sgtest/cgo_sample
	url = https://github.com/sgtest/cgo_sample
[submodule "testdata/case/src/github.com/sgtest/go-sample-0"]
	path = testdata/case/src/github.com/sgtest/go-sample-0
	url = https://github.com/sgtest/go-sample-0.git
[submodule "testdata/case/src/github.com/sgtest/minimal-go-stdlib"]
	path = testdata/case/src/github.com/sgtest/minimal-go-stdlib
	url = https://github.com/sgtest/minimal-go-stdlib.git
[submodule "testdata/case/src/github.com/sgtest/go-misc"]
	path = testdata/case/src/github.com/sgtest/go-misc
	url = https://github.com/sgtest/go-misc.git
[submodule "testdata/case/src/github.com/sgtest/go-testonly"]
	path = testdata/case/src/github.com/sgtest/go-testonly
	url = https://github.com/sgtest/go-testonly.git
[submodule "testdata/case/src/github.com/sgtest/gopathtest"]
	path = testdata/case/src/github.com/sgtest/gopathtest
	url = https://github.com/sgtest/gopathtest.git
[submodule "testdata/case/src/github.com/sgtest/gopath-in-repo"]
	path = testdata/case/src/github.com/sgtest/gopath-in-repo
	url = https://github.com/sgtest/gopath-in-repo.git
[submodule "testdata/case/src/github.com/sgtest/godep-exclude"]
	path = testdata/case/src/github.com/sgtest/godep-exclude
	url = https://github.com/sgtest/godep-exclude.git
[submodule "testdata/case/src/github.com/sgtest/godep-include"]
	path = testdata/case/src/github.com/sgtest/godep-include
	url = https://github.com/sgtest/godep-include.git
[submodule "testdata/case/src/github.com/sgtest/go15vendor"]
	path = testdata/case/src/github.com/sgtest/go15vendor
	url = https://github.com/sgtest/go15vendor.git
