[submodule "testdata/case/go-sample-0"]
	path = testdata/case/go-sample-0
	url = https://github.com/sgtest/go-sample-0.git
[submodule "testdata/case/minimal-go-stdlib"]
	path = testdata/case/minimal-go-stdlib
	url = https://github.com/sgtest/minimal-go-stdlib.git
[submodule "testdata/case/cgo_sample"]
	path = testdata/case/cgo_sample
	url = https://github.com/sgtest/cgo_sample.git
[submodule "testdata/case/go-misc"]
	path = testdata/case/go-misc
	url = https://github.com/sgtest/go-misc.git
[submodule "testdata/case/go-testonly"]
	path = testdata/case/go-testonly
	url = https://github.com/sgtest/go-testonly
[submodule "testdata/case/gopathtest"]
	path = testdata/case/gopathtest
	url = https://github.com/sgtest/gopathtest.git
[submodule "testdata/case/gopath-in-repo"]
	path = testdata/case/gopath-in-repo
	url = https://github.com/sgtest/gopath-in-repo.git
