language: go

go: 1.5.1

sudo: false

before_install:
  - mkdir -p $HOME/gopath/src/sourcegraph.com/sourcegraph
  - mv $TRAVIS_BUILD_DIR $HOME/gopath/src/sourcegraph.com/sourcegraph/srclib-go
  - export TRAVIS_BUILD_DIR=$HOME/gopath/src/sourcegraph.com/sourcegraph/srclib-go
  - cd $TRAVIS_BUILD_DIR
  - export PATH=$PATH:$HOME/gopath/bin
  - export GOBIN=$HOME/gopath/bin

install:
  - wget -NO /tmp/src.zip 'https://api.equinox.io/1/Applications/ap_BQxVz1iWMxmjQnbVGd85V58qz6/Updates/Asset/src-0.0.28.zip?os=linux&arch=amd64&channel=stable'
  - unzip /tmp/src*.zip -d $HOME/gopath/bin
  - mv $HOME/gopath/bin/src-* $HOME/gopath/bin/src
  - chmod +x $HOME/gopath/bin/src
  - src toolchain add sourcegraph.com/sourcegraph/srclib-go
  # for tests
  - go get -d -v golang.org/x/net/ipv6 golang.org/x/tools/go/types
  - make

# TODO(sqs): add `go test`
script:
  - src test -m program
